#left-column,
#right-column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

html {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 0.58em;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  height: 0;
  margin: 0.5em 0;
}

h1 {
  margin: 0 0 10px;
  padding: 0 0.5em 0.1em;
  font-weight: 300;
  font-family: Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
}

h2 {
  margin: 10px 0px 10px 0px;
  padding: 0;
  font-weight: 600;
  font-family: Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

h3 {
  margin: 10px auto;
  padding: 0.2em 0.5em 0.1em;
  font-size: 1.2em;
  font-weight: 300;
  font-family: Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

h4 {
  margin: 0px auto;
  padding: 0.5em 0 0;
  font-weight: bold;
  font-family: Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #3d3c3a;
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

legend {
  font-weight: bold;
  background-color: white;
  color: orange;
  text-align: left;
}

table,
td,
th {
  border-collapse: 0;
  vertical-align: top;
  text-align: left;
}

table {
  width: 100%;
}

th {
  width: 39%;
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

td {
  width: 60%;
  margin: 0;
  padding: 0;
  color: #111;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.normal {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.number {
  font-weight: normal;
  vertical-align: top;
  text-align: right !important;
}

.center {
  text-align: center;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.populated {
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0px 10px;
}
